.chart-heading {
    border: 2px solid white;
    padding: 10px;
    text-align: center;
    color: black;
    background-color: pink;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
}

.chart-container {
    width: 1200px;
    height: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.small-chart {
    width: 600px;
    height: 600px;
}
.warning-message {
    background-color: white;
    color: red;
    font-weight: bold;
    font-size: 24px; /* Large font size */
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    width: 90%; /* Make it responsive */
    max-width: 600px; /* Max width for large screens */
    margin-left: auto;
    margin-right: auto;
}

